tr>td:nth-child(odd) {
	font-size: bold
}

td {
	text-align: center;
	padding: 20px;
}

.container2 {
	width: 100%;
	height: 40%;
}
h1 {
	text-align: center;
	padding-top: 15%; 
	padding-bottom: 5%;
}